<ion-header>
  <ion-toolbar>
    <ion-title>
      Diplay Profiles Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Profiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <disclaimer-container *ngIf="users.length == 0" id="container"
    description="No data to show at this time! Please add one Profile and try again!">
  </disclaimer-container>

  <ion-card *ngFor="let user of users; index as i;">
    <ion-card-header>
      <ion-card-title>{{ user.job_title }}</ion-card-title>
      <div style="display: flex; justify-content: space-between;">
        <div>
          <ion-card-subtitle>Street: {{ user.street }}</ion-card-subtitle>
          <ion-card-subtitle>City: {{ user.city }}</ion-card-subtitle>
          <ion-card-subtitle>State: {{ user.state }}te</ion-card-subtitle>

        </div>
        <div>
          <ion-card-subtitle>+{{ user.phone_number }}</ion-card-subtitle>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [alt]="user.first_name" [src]="user.profilePhoto" />
          </ion-thumbnail>
          <ion-label>{{ user.first_name }} {{ user.last_name }}</ion-label>
          <ion-label>{{ user.birth_date }}</ion-label>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>